In [1]:
tr = [(('1210','120001'),('apple',3),('grapes',4)),
      (('1211','120002'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005'),('grapes',3),('apple',7)),
      (('1215','120006'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011'),('mango',6),('apple',8))]


cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_un_cu = []

tr_un_item = []

tr_un_bill = []


def cust_name(c_id):
    c_id = c_id
    #c_name = c_name
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name 
        elif cu_name == c_id:   
            return cu_id


def item_name(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        item_id = item_detail[i][0]
        i_name = item_detail[i][1]
        if item_id == i_code:
            return i_name 
        elif i_name == i_code:   
            return item_id






for i in range (len(tr)):
    for j in range(1,len(tr[i])):
        c_un_id = tr[i][0][0]
        i_un_id = tr[i][j][0]
        bill = tr[i][0][1]

        if c_un_id not in tr_un_cu:
            tr_un_cu.append(c_un_id)

        if i_un_id not in tr_un_item:
            tr_un_item.append(i_un_id)

    tr_un_bill.append(bill)





item = ''
quantity = 0
bill = ''
tr_cu_id = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0
for u in range(len(tr_un_bill)):
    cust_bill = tr_un_bill[u]
    a_sum = 0
    # print("{:>3}  {}  {:<6} {:<6}    {:<10} {} {:>4} {:>3}  {:>6} {:>6}".format('x','bill','tr_cu_id','tr_cu_name','item','item_code','item_rate','quantity','amount','a_sum'))
    # print()
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            # a_sum = a_sum + amount
            x = x+1

            if bill == cust_bill:
                a_sum = a_sum + amount
                tr_id = tr_cu_id
                tr_name = tr_cu_name
                print("{}  {}  {:<8} {:<10} {:>3} {:>3} {:>4} {:>5} ".format(cust_bill,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
    print()
    c_sum = c_sum + a_sum
    print("{}  {}  {:<6} {:>5} {:>5}".format(cust_bill,tr_id,tr_name,a_sum,c_sum))
print()
print("Total ::             {}".format(c_sum))
print()














#         print("{:>3}  {}  {:<6} {:<6}   {:<10} {}     {:>4}        {:>3}   {:>6} {:>6}".format(x,bill,tr_cu_id,tr_cu_name,item,item_code,item_rate,quantity,amount,a_sum))
# print()
# print("Total ::                                                            {}".format(a_sum))

120001  1210  Rajesh   apple       60   3  180   180
120001  1210  Rajesh   grapes      45   4  180   360

120001  1210  Rajesh   360   360
120002  1211  Rakesh   pears       30   6  180   180
120002  1211  Rakesh   mango       50   8  400   580
120002  1211  Rakesh   orange      40   6  240   820

120002  1211  Rakesh   820  1180
120003  1212  Sahil    pears       30   2   60    60
120003  1212  Sahil    apple       60   3  180   240
120003  1212  Sahil    orange      40   4  160   400
120003  1212  Sahil    cherry      90   5  450   850
120003  1212  Sahil    mango       50   6  300  1150
120003  1212  Sahil    apple       60   7  420  1570

120003  1212  Sahil   1570  2750
120004  1213  Jack     orange      40   9  360   360
120004  1213  Jack     pears       30   8  240   600
120004  1213  Jack     pineapple   60   5  300   900

120004  1213  Jack     900  3650
120005  1214  Steve    grapes      45   3  135   135
120005  1214  Steve    apple       60   7  420   555

120005  1214  Steve    555  4205
120006  1215  Rohan    mango       50  12  600   600
120006  1215  Rohan    orange      40  13  520  1120
120006  1215  Rohan    guava       40   8  320  1440
120006  1215  Rohan    Strawberry 150  10 1500  2940
120006  1215  Rohan    cherry      90   7  630  3570

120006  1215  Rohan   3570  7775
120007  1211  Rakesh   dates      100  15 1500  1500
120007  1211  Rakesh   banana      10  10  100  1600
120007  1211  Rakesh   orange      40  10  400  2000

120007  1211  Rakesh  2000  9775
120008  1214  Steve    dates      100  13 1300  1300
120008  1214  Steve    banana      10  10  100  1400
120008  1214  Steve    Blackberry 110   2  220  1620

120008  1214  Steve   1620 11395
120009  1215  Rohan    dates      100  12 1200  1200
120009  1215  Rohan    apple       60  10  600  1800
120009  1215  Rohan    mango       50  10  500  2300
120009  1215  Rohan    cherry      90   8  720  3020

120009  1215  Rohan   3020 14415
120010  1216  Millan   apple       60   6  360   360
120010  1216  Millan   dates      100   8  800  1160
120010  1216  Millan   jelly       20   5  100  1260
120010  1216  Millan   jackfruit   40  50 2000  3260

120010  1216  Millan  3260 17675
120011  1217  mikul    mango       50   6  300   300
120011  1217  mikul    apple       60   8  480   780

120011  1217  mikul    780 18455

Total ::             18455

In [2]:
tr_un_cu

['1210', '1211', '1212', '1213', '1214', '1215', '1216', '1217']

In [119]:
tr_un_item[3]

'mango'

In [121]:
tr_un_cu[5]

'1215'

In [88]:
cust_name('1215')

'Rohan'

In [109]:
item_name('apple')

'1001'

In [3]:
tr = [(('1210','120001'),('apple',3),('grapes',4)),
      (('1211','120002'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005'),('grapes',3),('apple',7)),
      (('1215','120006'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011'),('mango',6),('apple',8))]


cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_un_cu = []

tr_un_item = []

tr_un_bill = []


def cust_name(c_id):
    c_id = c_id
    #c_name = c_name
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name 
        elif cu_name == c_id:   
            return cu_id


def item_name(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        item_id = item_detail[i][0]
        i_name = item_detail[i][1]
        if item_id == i_code:
            return i_name 
        elif i_name == i_code:   
            return item_id






for i in range (len(tr)):
    for j in range(1,len(tr[i])):
        c_un_id = tr[i][0][0]
        i_un_name = tr[i][j][0]
        bill = tr[i][0][1]

        if c_un_id not in tr_un_cu:
            tr_un_cu.append(c_un_id)

        if i_un_name not in tr_un_item:
            tr_un_item.append(i_un_name)

    tr_un_bill.append(bill)





item = ''
quantity = 0
bill = ''
tr_cu_id = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0
print("{}  {}  {:<6}     {:>5}    {:>5}".format('cust_bill','tr_id','tr_name','a_sum','c_sum'))
print()
for u in range(len(tr_un_bill)):
    cust_bill = tr_un_bill[u]
    a_sum = 0
    # print("{:>3}  {}  {:<6} {:<6}    {:<10} {} {:>4} {:>3}  {:>6} {:>6}".format('x','bill','tr_cu_id','tr_cu_name','item','item_code','item_rate','quantity','amount','a_sum'))
    # print()
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            # a_sum = a_sum + amount
            x = x+1

            if bill == cust_bill:
                a_sum = a_sum + amount
                tr_id = tr_cu_id
                tr_name = tr_cu_name
    #             print("{}  {}  {:<8} {:<10} {:>3} {:>3} {:>4} {:>5} ".format(cust_bill,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
    # print()
    c_sum = c_sum + a_sum
    print(" {}    {}   {:<6}     {:>5}    {:>5}".format(cust_bill,tr_id,tr_name,a_sum,c_sum))
print()
print("Total ::                     {}".format(c_sum))
print()



#         print("{:>3}  {}  {:<6} {:<6}   {:<10} {}     {:>4}        {:>3}   {:>6} {:>6}".format(x,bill,tr_cu_id,tr_cu_name,item,item_code,item_rate,quantity,amount,a_sum))
# print()
# print("Total ::                                                            {}".format(a_sum))

cust_bill  tr_id  tr_name     a_sum    c_sum

 120001    1210   Rajesh       360      360
 120002    1211   Rakesh       820     1180
 120003    1212   Sahil       1570     2750
 120004    1213   Jack         900     3650
 120005    1214   Steve        555     4205
 120006    1215   Rohan       3570     7775
 120007    1211   Rakesh      2000     9775
 120008    1214   Steve       1620    11395
 120009    1215   Rohan       3020    14415
 120010    1216   Millan      3260    17675
 120011    1217   mikul        780    18455

Total ::                     18455

In [3]:
tr = [(('1210','120001'),('apple',3),('grapes',4)),
      (('1211','120002'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005'),('grapes',3),('apple',7)),
      (('1215','120006'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011'),('mango',6),('apple',8))]


cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]
tr_un_cu = []

tr_un_item = []

tr_un_bill = []


def cust_name(c_id):
    c_id = c_id
    #c_name = c_name
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name 
        elif cu_name == c_id:   
            return cu_id


def item_name(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        item_id = item_detail[i][0]
        i_name = item_detail[i][1]
        if item_id == i_code:
            return i_name 
        elif i_name == i_code:   
            return item_id






for i in range (len(tr)):
    for j in range(1,len(tr[i])):
        c_un_id = tr[i][0][0]
        i_un_id = tr[i][j][0]
        bill = tr[i][0][1]

        if c_un_id not in tr_un_cu:
            tr_un_cu.append(c_un_id)

        if i_un_id not in tr_un_item:
            tr_un_item.append(i_un_id)

    tr_un_bill.append(bill)


item = ''
quantity = 0
bill = ''
tr_cu_id = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
a_sum = 0
c_sum = 0
x = 0
for u in range(len(tr_un_cu)):
    cust_id = tr_un_cu[u]

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            #a_sum = a_sum + amount

            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_id = tr_cu_id
                t_name = tr_cu_name
                prn1 = ("{} {} {:<6} {:<10} {:>3} {:>3} {:>6} {:>6}".format(bill,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
                print(prn1)
    print()
    print("Total ::                              {:>6}".format(a_sum))
    print()
            




#         print("{}  {}  {:<8} {:<10}  {:>3} {:>3} {:>5} {:>5}".format(bill,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
# print()
# print("Total ::                                   {}".format(a_sum))

120001 1210 Rajesh apple       60   3    180    180
120001 1210 Rajesh grapes      45   4    180    360

Total ::                                 360

120002 1211 Rakesh pears       30   6    180    540
120002 1211 Rakesh mango       50   8    400    940
120002 1211 Rakesh orange      40   6    240   1180
120007 1211 Rakesh dates      100  15   1500   2680
120007 1211 Rakesh banana      10  10    100   2780
120007 1211 Rakesh orange      40  10    400   3180

Total ::                                3180

120003 1212 Sahil  pears       30   2     60   3240
120003 1212 Sahil  apple       60   3    180   3420
120003 1212 Sahil  orange      40   4    160   3580
120003 1212 Sahil  cherry      90   5    450   4030
120003 1212 Sahil  mango       50   6    300   4330
120003 1212 Sahil  apple       60   7    420   4750

Total ::                                4750

120004 1213 Jack   orange      40   9    360   5110
120004 1213 Jack   pears       30   8    240   5350
120004 1213 Jack   pineapple   60   5    300   5650

Total ::                                5650

120005 1214 Steve  grapes      45   3    135   5785
120005 1214 Steve  apple       60   7    420   6205
120008 1214 Steve  dates      100  13   1300   7505
120008 1214 Steve  banana      10  10    100   7605
120008 1214 Steve  Blackberry 110   2    220   7825

Total ::                                7825

120006 1215 Rohan  mango       50  12    600   8425
120006 1215 Rohan  orange      40  13    520   8945
120006 1215 Rohan  guava       40   8    320   9265
120006 1215 Rohan  Strawberry 150  10   1500  10765
120006 1215 Rohan  cherry      90   7    630  11395
120009 1215 Rohan  dates      100  12   1200  12595
120009 1215 Rohan  apple       60  10    600  13195
120009 1215 Rohan  mango       50  10    500  13695
120009 1215 Rohan  cherry      90   8    720  14415

Total ::                               14415

120010 1216 Millan apple       60   6    360  14775
120010 1216 Millan dates      100   8    800  15575
120010 1216 Millan jelly       20   5    100  15675
120010 1216 Millan jackfruit   40  50   2000  17675

Total ::                               17675

120011 1217 mikul  mango       50   6    300  17975
120011 1217 mikul  apple       60   8    480  18455

Total ::                               18455

In [4]:
tr = [(('1210','120001'),('apple',3),('grapes',4)),
      (('1211','120002'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005'),('grapes',3),('apple',7)),
      (('1215','120006'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011'),('mango',6),('apple',8))]


cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]
tr_un_cu = []

tr_un_item = []

tr_un_bill = []


def cust_name(c_id):
    c_id = c_id
    #c_name = c_name
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name 
        elif cu_name == c_id:   
            return cu_id


def item_name(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        item_id = item_detail[i][0]
        i_name = item_detail[i][1]
        if item_id == i_code:
            return i_name 
        elif i_name == i_code:   
            return item_id






for i in range (len(tr)):
    for j in range(1,len(tr[i])):
        c_un_id = tr[i][0][0]
        i_un_id = tr[i][j][0]
        bill = tr[i][0][1]

        if c_un_id not in tr_un_cu:
            tr_un_cu.append(c_un_id)

        if i_un_id not in tr_un_item:
            tr_un_item.append(i_un_id)

    tr_un_bill.append(bill)


item = ''
quantity = 0
bill = ''
tr_cu_id = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0
print("{}  {:<6}   {:>6}   {:>6}".format('Cu_Id','Cu_Name','Amount_Sum','Cumulative_sum'))
print()

for u in range(len(tr_un_cu)):
    cust_id = tr_un_cu[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            #a_sum = a_sum + amount
    

            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_id = tr_cu_id
                t_name = tr_cu_name
                prn1 = ("{} {} {:<6} {:<10} {:>3} {:>3} {:>6} {:>6}".format(bill,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
                #print(prn1)
    #print()
    c_sum = c_sum + a_sum
    print("{}   {:<6}     {:>6}        {:>6}".format(t_id,t_name,a_sum,c_sum))
print()
print("Total ::                        {:>6}".format(c_sum))
#print()
            




#         print("{}  {}  {:<8} {:<10}  {:>3} {:>3} {:>5} {:>5}".format(bill,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
# print()
# print("Total ::                                   {}".format(a_sum))

Cu_Id  Cu_Name   Amount_Sum   Cumulative_sum

1210   Rajesh        360           360
1211   Rakesh       2820          3180
1212   Sahil        1570          4750
1213   Jack          900          5650
1214   Steve        2175          7825
1215   Rohan        6590         14415
1216   Millan       3260         17675
1217   mikul         780         18455

Total ::                         18455

In [1]:
main_tr_db()

NameError: name 'main_tr_db' is not defined